<template>
  <pms-botao-para-topo/>
</template>

<script>
import PmsBotaoParaTopo from '@/pms-botao-para-topo.vue'

export default {
  name: 'App',
  components: {
    PmsBotaoParaTopo
  }
}
</script>

<style>
body { height: 2000px }
</style>