<template>
  <transition name="fade" mode="out-in">
    <div
      v-show="rolouTela"
      class="go-to-top"
      @click="topo()"
      data-pms="botao-para-topo"
    >
      <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"/>
    </div>
  </transition>
</template>

<script>
export default {
  data: () => ({
    rolouTela: false
  }),
  
  created() {
    window.addEventListener('scroll', this.handleScroll)
  },
  
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  
  methods: {
    handleScroll() {
      this.rolouTela = window.scrollY > 200
    },
    
    topo() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }
  }
}
</script>

<style lang="less">
  [data-pms='botao-para-topo'] {
    &.go-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 15px;
      bottom: 15px;
      cursor: pointer;
      height: 40px;
      width: 40px;
      z-index: 2000;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
</style>